<div class="container">
  <h1>Add a New Restaurant</h1>
  <%= render 'restaurants/form', restaurant: @restaurant %>
</div>
<%= link_to "Quit (back to all restaurants)", restaurants_path, class: "btn btn-warning mt-5"%>
